<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipment_method.name %>
</p>

<%= link_to 'Edit', edit_shipment_method_path(@shipment_method) %> |
<%= link_to 'Back', shipment_methods_path %>
